/* main content */

.hero {
  background-color: #ECF0F1;
  height: 100vh;
  width: 100%;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "content-box"; 
}

.content-box {
  grid-area: content-box;
  background-color: #2980b9;
  background-image: linear-gradient(147deg, #2980b9 0%, #2c3e50 100%);
  border-radius: 25px;
  margin: 10vh 5vw;
}

.inner-grid {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 3vw; 
  grid-template-areas: 
    "today forecast forecast forecast"; 
  height: 100%;
}

.locPrompt h2 {
  color: #fff;
  font-size: 3vw;
}

.today { 
  grid-area: today; 
  height: 100%;
  border-radius: 25px;
  background-color: transparent;
  background-image: none;
}

.forecast { 
  grid-area: forecast; 
  background-color: transparent;
  border-radius: 25px;
}


/* today */

.info {
  text-align: center;
  font-size: 4vw;
  color: #fff;
  margin-top: 5%;
}

#icon, #dayOneIcon, #dayTwoIcon, #dayThreeIcon, #dayFourIcon, #dayFiveIcon {
  font-size: 5vw;
  margin: 10% auto 0% auto;
  display: table;
  text-align: center;
}

#icon {
  color: #fff;
}

#dayOneIcon, #dayTwoIcon, #dayThreeIcon, #dayFourIcon, #dayFiveIcon {
  color: #000;
}

.city {
  text-align: center;
  margin: 1vh 1.5vw;
  color: #fff;
  font-size: 1vw;
  font-weight: 400;
}

.feels-like {
  text-align: center;
  margin: 1vh 1vw;
  color: #fff;
  font-size: 1vw;
  font-weight: 600;
}

.sky {
  color: #000;
  text-align: center;
  margin: 1.5vh 1vw;
  padding: 2vh 0vw;
  background-color: #fff;
  border-radius: 5px;
  visibility: hidden;
}

#highLow {
  background-color: #fff;
}

.highLow {
  color: #000;
  text-align: center;
  margin: 1.5vh 1vw;
  padding: 2vh 0vw;
  border-radius: 5px;
  visibility: hidden;
}

.boxOne h5 {
  margin-top: 10%;
  text-align: center;
}

.humidity {
  text-align: center;
  color: #000;
  font-size: 2vw;
}

.boxTwo h5 {
  margin-top: 10%;
  text-align: center;
}

.wind {
  text-align: center;
  color: #000;
  font-size: 2vw;
  margin-bottom: 0px;
}


.locPrompt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.locPrompt h1 {
  color: #fff;
  font-size: 5vw;
}

.locPrompt h3 {
  color: #fff;
  margin-bottom: 2vh;
}

.dailyBoxes {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 1.5vh;
  grid-auto-flow: row;
  grid-template-areas:
    "boxOne boxTwo";
  height: 20%;
  margin: 1.5vh 1vw;
}

.boxOne { 
  background-color: #fff;
  grid-area: boxOne; 
  border-radius: 10px;
  visibility: hidden;
}

.boxTwo {
  background-color: #fff;
  grid-area: boxTwo; 
  border-radius: 10px;
  visibility: hidden;
}


/* scaling */

@media only screen and (max-width: 850px) {
  .hero {
    height: 100vh;
  }
  .locPrompt {
    height: 100vh;
  }
  .inner-grid {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 5vh 0px; 
  grid-template-areas: 
    "today"
    "forecast"
    "forecast"; 
  }
  .forecast {
    grid-area: forecast;
    visibility: collapse;
  }
  .today { 
    grid-area: today; 
    height: 90vh;
  }
  .content-box {
  grid-area: content-box;
  border-radius: 25px;
  margin: 3vh 5vw;
  }
  
  #icon {
    font-size: 20vw;
  }

  .info {
    font-size: 25vw;
  }

  .city {
    font-size: 5vw;
    margin: 1vh 2vw 5vh;
  }
  
  .humidity {
    font-size: 10vw;
  }
  
  .wind {
    font-size: 10vw;
  }
  
  .feels-like {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 380px) {
  .hero {
    height: 100vh;
  }
  .locPrompt {
    height: 100vh;
  }
  .inner-grid {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 5vh 0px; 
  grid-template-areas: 
    "today"
    "forecast";
  height: 200vh;
  }
  .forecast {
    grid-area: forecast;
    visibility: collapse;
  }
  .today { 
    grid-area: today; 
    height: 100%;
  }
  .content-box {
    grid-area: content-box;
    border-radius: 25px;
    margin: 3vh 5vw;
  }
  
  #icon {
    font-size: 20vw;
  }

  .info {
    font-size: 25vw;
  }

  .city {
    font-size: 4vw;
    margin-bottom: 1vh;
  }
  
  .humidity {
    font-size: 10vw;
  }
  
  .wind {
    font-size: 10vw;
  }

  .feels-like {
    font-size: 4vw;
  }
}

/* forecast */

.weekBoxes {  
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 1vw; 
  grid-template-areas: 
    "searchBar searchBar searchBar searchBar logo"
    "weatherData weatherData weatherData weatherData weatherData"
    "weatherData weatherData weatherData weatherData weatherData"
    "dayOne dayTwo dayThree dayFour dayFive"
    "dayOne dayTwo dayThree dayFour dayFive"; 
  height: 100%;
  margin: 1vh 1vw;
}

.dayOne { grid-area: dayOne; }

.dayTwo { grid-area: dayTwo; }

.dayThree { grid-area: dayThree; }

.dayFour { grid-area: dayFour; }

.dayFive { grid-area: dayFive; }

.dayOne, .dayTwo, .dayThree, .dayFour, .dayFive {
  background-color: #fff;
  height: 85%;
  border-radius: 15px;
  visibility: hidden;
}

.searchBar { grid-area: searchBar; }
.logo { grid-area: logo; }
.weatherData {
  grid-area: weatherData;
  visibility: hidden;
}

.dayOfWeek {
  text-align: center;
  margin: 1vh 1.5vw;
  color: #000;
  font-size: 1vw;
  font-weight: 600;
  cursor: default;
}

.weekBoxes .material-symbols-outlined, .weekBoxes .highLow{
  cursor: default;
}

/* chart */
#tempChart {
  height: 95%;
  width: 95%;
  margin: 0 auto;
  --color: #000;
}

tbody tr th {
  font-weight: 500;
  font-size: 90%;
}

.row {
  font-size: 75%;
}

.data {
  position: relative;
  padding: 0.5vh;
  font-size: 65%;
}

/* search */
#searchBarA {
  padding: 10px;
  visibility: hidden;
  margin-top: 4vh;
  margin-left: 1.5vw;
  width: 30vw;
  height: 35%;
  border-radius: 25px;
  border: 3px solid #000;
}

#listOfOptions {
  margin-left: 1.5vw;
  position: absolute;
  visibility: hidden;
  z-index: 100;
  width: 30vw;
  height: 300px;
  border: 3px solid #000;
  border-radius: 25px;
  background-color: #fff;
  margin-top: 1vh;
  transition: all 0.5s;
  opacity: 0%;
}